.daniel
{
    padding-top: 1rem;
    background-color: rgb(255, 255, 104);
    margin-bottom: 2rem;
    img 
    {
        width: 12rem;
        border: 3px black solid;
    }
    h2
    {
        font-weight: bold;
        font-size: 2rem;
    }
    .bachelor 
    {
        text-align: center;
        padding-bottom: 1rem;
    }
}