h1 
{
    background-color: lightblue;
    margin-bottom: 3rem;
    margin-top: 0;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
}

.wRP
{
    margin: auto;
    margin-bottom: 2rem;
    width: 50vw;
    text-align: left;
}